appdirs==1.4.4
attrs==19.3.0
backcall==0.2.0
black==19.10b0
bleach==3.1.5
bonsai-cli==1.0.0
-e git+https://github.com/BonsaiAI/bonsai3-py.git@29158cc58f39604fa96e10e41ff00fc195f6b315#egg=bonsai3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
coverage==5.2
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
flake8==3.8.2
future==0.18.2
gym==0.17.2
idna==2.10
imageio==2.9.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jsons==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.4.0
msal==1.4.3
msal-extensions==0.2.2
msgpack==0.6.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.0.3
numpy==1.19.0
olefile==0.46
open3d==0.10.0.0
opencv-python==4.3.0.36
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pluggy==0.13.1
portalocker==1.7.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.6.1
PyJWT==1.7.1
pynng==0.5.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
pytest-cov==2.10.0
python-dateutil==2.8.1
PyWavelets==1.1.1
pyzmq==19.0.1
regex==2020.5.14
requests==2.24.0
scikit-image==0.17.2
scipy==1.5.1
Send2Trash==1.5.0
six==1.15.0
sniffio==1.1.0
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
tifffile==2020.7.22
toml==0.10.1
torch==1.5.1
torchvision==0.6.0a0+35d732a
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typish==1.2.0
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
